{% extends "layout.html" %}
{% block content %}
	<div class="jumbotron">
		<h1>Let's get you this App!</h1>
	</div>
	<div class="container">
		<div class="content-section">
			<form method="POST" action="">
					{{ form.hidden_tag() }}
					<fieldset class="form-group">
						<legend class="border-bottom mb-4">Github Information</legend>
						<div class="form-group">
							{{ form.github_username.label(class="form-control-label") }}

							{% if form.github_username.errors %}
								{{ form.github_username(class="form-control is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.github_username.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.github_username(class="form-control") }}
							{% endif %}
							<small class="form-text text-muted">We'll never share your github username with anyone else.</small>
						</div>
						<div class="form-group">
							{{ form.target_repo.label(class="form-control-label") }}
							{% if form.target_repo.errors %}
								{{ form.target_repo(class="form-control is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.target_repo.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.target_repo(class="form-control") }}
							{% endif %}
						</div>
					</fieldset>
					<div class="form-group">
						{{ form.submit(class="btn btn-outline-info") }}
					</div>
			</form>
		</div>
		<div class="border-top pt-3">
			<small class="text-muted">
				Already have the App? <a class="ml-2" href="{{ url_for('home') }}">Check Documentation</a>
			</small>
		</div>
	</div>
{% endblock content %}