{% extends "layout.html" %}
{% block content %}
	<div class="jumbotron">
		<h1>Welcome to <strong>AR</strong>!</h1>
	</div>
	<div class="container">
		<p> AR stands for Auto Repo! It is a web app that can be copied automatically from its current location to a github account by creating a new repository by itself!. All it needs is your github username and the name you want your repository to have! Are you ready to get the code of this amazing web app??!! Will you be the next to get it and steo foward in learning web apps?</p>
		<br />
		<p> Do you want to get this awesome web app code on your github? </p>
		<a href="{{ url_for('access') }}"> <strong>Get me started!</strong> </a>
	</div>
{% endblock content %}
